<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <!-- Display posts -->
    {% macro displayPostList(post_list) %} {% for post in post_list %}
    <div class="row">
        <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well post-well">
            <li class="text-center">
                <h3 class="post-title">
                    <a href="/post/{{post.id}}">{{ post.title }}</a>
                    <br>
                </h3>
                <p>{{ post.body }}</p>
            </li>
            <div>
                <a href="/update/post/{{post.id}}" class="btn btn-success">Update post</a>
                <a href="/post/comment/new/{{post.id}}" class="btn btn-primary">Add comment</a>
                <a href="/post/{{post.id}}" class="btn btn-info">View comments</a>
                <a href="/delete/post/{{post.id}}" class="btn btn-danger btn-sm m-1">Delete post</a>
            </div>
        </div> 
    </div>
    {% endfor %} {% endmacro %}

</body>

</html>
