<div class="navbar navbar-default" role="navigation">
    <div class="container-fluide">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style=" font-size:20px;color: white">Home</a>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/new/post" style="color: white">New blog</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" style="background-color:black">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}

                <li>
                    <a href="{{url_for('main.profile',uname=current_user.username)}}">{{current_user.username.upper()}}</a>
                </li>
                <li>
                    <a href="{{url_for('auth.logout')}}" style="color: white">Sign Out</a>
                </li>
                {% else %}
                <li>
                    <a href="{{url_for('auth.login')}}" style="color: white">Sign in</a>
                </li>
                {% endif %}

            </ul>
        </div>

    </div>
</div>