<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>

    <!--Styles for blog-->
    <style>
        .container {
            background-image: url('./static/images/blog.jpg');
        }
    </style>

</head>

<body>
    {% extends 'base.html' %} {% import 'macros.html' as macro %}

    <!-- Styles block -->
    {% block styles%} {{ super() }} {% endblock %} {% block content %}
    <div class="container">

        <h3 class="index-header">{{post.title}}</h3>
        <hr>
        <p>{{post.body}}</p>
        <div class="col-md-12">
            <h3 class="comment-create">
                <a href="/post/comment/new/{{post.id}}">Add Comment</a>
            </h3>
        </div>
        {% if comments %} {% for comment in comments %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <hr>
            <p>{{comment.body}} </p>
            <a href="/delete/comment/{{comment.id}}" class="btn btn-danger btn-sm m-1">Delete comment</a>
        </div>
        {% endfor %} {% else %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <hr>
            <p style="color:rgb(32, 136, 30)">No comments</p>  
        </div>
        {% endif %}
    </div>
    {% endblock %}

</body>

</html>